header {
  height: 70svh;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../media/hero_banner_menu_page.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

    header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

.header-content {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.header-text {
  gap: 0px;
}

/* =====================Promotions Section===================== */

.promo-flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.promo-item-container {
  background-color: #dddddd;
  flex: 1 1 calc(33.333% - 20px);
  min-width: 15rem;
}

.promo-item-img {
  background-size: cover;
  background-position: center;
  height: 15rem;
}

.promo-item-line {
  margin-top: 20px;
}

.promo-item-name {
  font-size: 2rem;
}

.promo-item-description, .price-valid-until {
  font-size: 1.3rem;
}

.promo-price-container {
  display: flex;
  align-items: center;
}

.promo-price {
  font-size: 2rem;
}

/* =====================Menu Section===================== */
.menu-section {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}

.menu-bar {
    border-top: 2px solid #000;
    padding: 0px 22px;
}

.row-1 {
    border-right: 2px solid #000;
    padding: 0px 40px;
}

.row-2 {
    padding: 0px 40px;
}

.menu-section h1 {
    text-align: center;
    font-family: Kaisei Tokumin;
    color: #8B1313;
    font-size: 30.60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-bar h2, .menu-bar p {
    text-align: left !important;
}

.menu-bar h2, p.menu-pr {
    font-weight: 600;
}

.menu-bar h2 {
    margin-top: 30px;
}